* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
  }

h1,
h2,
h3,
p,
ul,
footer,
body,
hr {
    margin: 0;
}

main {
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

@import "./_sections/header";
@import "./_sections/main";
@import "./_sections/footer";
@import "./_normalize";